.eng {
    position: absolute;
    top: 20px;
    left: 1280px;
    border-radius: 10px;
    background-color: var(--white);
    width: 104px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    
}
.cz {
    position: absolute;
    top: 20px;
    left: 1150px;
    border-radius: 10px;
    background-color: var(--white);
    width: 104px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    
}